/* share style */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1330px;
    margin: auto;
}

/* header style */
.header {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.header-title {
    max-width: 243px;
    height: 52.2px;
    flex-shrink: 0;
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

nav ul li a i {}

.card {
    width: 36px;
    height: 36px;
    position: relative;
}
.cart-point{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    background: gray;
    position: absolute;
    bottom: 31px;
    left: 13px;
}

/* Banner style */
